{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">kurokotv</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Episódios<span class="sr-only">(current)</span></a></li>
        <li><a href="#">mangás</a></li>
        <li class="dropdown">
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-">
        <li><a href="#">Calendário dos animes</a></li>
        <li class="dropdown">
         <li><a href="#">Sobre</a></li>
        <li><a href="#">Como funciona</a></li>
        <li><a href="#">Contato</a></li>
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Animes e Mangás">
        </div>
        <button type="submit" class="btn btn-default">Buscar anime</button>
      </form>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
</html>